* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    min-width: 600px;
}

body {
    background-image: url(images/bg.png);
    background-size: 105%;
    /* background-repeat: no-repeat; */
}

h1 {
    margin-top: 90px;
    color: rgb(238, 238, 238);
}

h1, h2, p {
    text-align: center;
    font-family: arial, sans-serif;
    color: rgba(238, 238, 238, 0.912);
}

h2 {
    font-size: 1.2em;
}

p {
    font-style: italic;
}

a {
    text-decoration: none;
    margin: 20px;
}

#all-sites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 70%;
    margin-top: 100px;
}

.site-box {
    padding: 20px;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #5b948988;
    border-radius: 2px;
    text-align: center;
    color: black;
    transition: 0.1s ease-in-out;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.site-box:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.site-box img {
    width: 190px;
    opacity: 0.8;
    border-radius: 2px;
}

footer {
    position: absolute;
    margin-top: 200px;
    bottom: 20px;
    text-align: center;
}

footer ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

footer li {
    color: rgba(238, 238, 238, 0.912);
    list-style: none;

}

@media only screen and (max-width: 838px) {
    body {
        background-size: 150%;
        overflow: scroll;
    }
    h1 {
        margin-top: 30px;
    }
  }