* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    /* border: 1px solid blue; */
}

html, body {
    height: auto;
    margin: 0px;
    min-width: 600px;
    /* overflow: hidden; */
}

body {
    background-image: url(images/bg.png);
    background-size: 105%;
}

h1, h2, p, li {
    text-align: center;
    font-family: 'raleway', sans-serif;
    color: rgba(238, 238, 238, 0.900);
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: none;
}

#passion-btn {
    font-size: 0.7em;
}

#portfolio-btn {
    font-size: 2em;
}

#contact-btn {
    font-size: 0.7em;
}

#passion-container {
    position: relative;
    top: 50px;
    display: none;
    opacity: 0;
    justify-content: center;
    transition: 1.5s ease-in-out;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 0px 30px;
    text-align: justify;
    font-size: 0.9
}

#contact-container {
    position: relative;
    top: 50px;
    display: none;
    opacity: 0;
    justify-content: center;
    transition: 1.5s ease-in-out;
    letter-spacing: 1px;
}

#all-sites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    transition: 1.5s ease-in-out;
    opacity: 1;
}

.site-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    margin: 30px 40px;
    position: relative;
    width: 150px;
    height: 100px;
    /* background-color: #5b948988; */
    /* background-color: #5b948913; */
    background-color: #00000012;
    border: 1px solid  #00000013;
    border-radius: 2px;
    text-align: center;
    color: black;
    transition: 0.8s ease-in-out;
    /* -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75); */
}

.site-box:hover {
    /* transform: scale(1.05); */
    /* -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75); */
    /* background-color: #5b9489c9; */
    background-color: #0000002d;
}

.site-box:focus, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.site-box h2 {
    font-size: 0.8em
}

.site-box p {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    text-align: center;
}

#navbar {
    position: relative;
    text-align: center;
    margin: 50px 0px 30px;
    padding: 0px;
}

#navbar a {
    margin: 15px;
    letter-spacing: 7px;
    transition: 1s ease-in-out;
    width: 240px;
}

#navbar a:hover {
    cursor: pointer;
    letter-spacing: 8px;
}

#navbar li:hover {
    color: white;
}

li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 839px) {
    body {
        background-size: 160%;
        overflow-Y: scroll;
        overflow-X: hidden;
    }
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    li {
        display: block;
        margin: 20px
    }
  }

  @media only screen and (max-width: 500px) {
    body {
        background-size: 190%;
    }
    .site-box {
        margin: 50px 20px;
    }
  }

  @media only screen and (max-width: 300px) {

  }